
.activity-card{
    margin: 20px auto;
    padding: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    border-radius: 15px;
    box-shadow: .4rem .4rem 1rem #ccc, -.4rem -.4rem 1rem #fff;
}
.action-btn{
    text-align: end;
    margin-bottom: 0.6rem;
}
.card-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-name{
    line-height: normal;
    text-transform: uppercase;
    font-size: 20px;
}
.card-info-item{
    line-height: normal;
    font-size: 14px;
}
.card-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.action-btn{
    width: 50px;
    display: flex;
    justify-content: space-between;
}
.card-info{
    position: relative;
    width: 180px;
}
.global-class-name{
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

/* hidden description */
.card-hidden-description{
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    position: absolute;
    top: 28px;
    min-width: 185px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #ccc, -.2rem -.2rem 1rem #fff;
    background-color: #e6e6e6;
}
.card-info-span {
    /* display: block; */
    font-size: 14px;
    font-weight: 400;
    
}


/* edit form */
.edit-form{
    margin: 0.5rem 0 0 0;
}
.edit-form-input{
    margin-top: 0.3rem;
}
#card-activity-date{
    display: block;
}
#card-activity-description {
    background: #fff;
}


/* animation */
.global-class-name:hover{
    cursor: pointer;
    /* transform: scale(1.1); */
    box-shadow: var(--box-shadow-inset);
}

